.btn-circle {
    width: 10em;
  	height: 10em;
  	/*line-height: 40px;*/ /* adjust line height to align vertically*/
  	padding:0;
  	border-radius: 50%;
  	background-color: #555555;
  	color:white;
  	border-color: transparent;
}

.btn-circle:hover
{
	color:#555555;
	background-color: white;
	border: 2px solid #555555;
}

.btn-circle:focus
{
	background-color: #50c878;
	color:white;
	border: none;
}

.coll
{
    float: left;
    width: 25%;

}
.rows{
    overflow: hidden;  /* "overflow: auto;" works just as well instead */
    width:100%; 
    padding: 2em;       /* Helps older versions of IE */
}

.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.modal-content {
    height: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 0;
}